
# sbt
.cache
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# scala-ide
.scala_dependencies

# eclipse
.project
.classpath
.settings
.worksheet

# intellij
*.iml
*.ipr
*.iws
.idea
